section {
    display: inline-flex;
    flex-wrap: wrap;
}
.box1 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border: 2px solid white;
}
.box1:hover {
    transition-duration: 1.5s;
    background-color: #993399;
}
.box2 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border: 2px solid white;
}
.box2:hover {
    transition-duration: 2s;
    background-color: #993399;
    border: 5px dashed #FFD700;
}
.box3 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border: 2px solid white;
}
.box3:hover {
    transition-duration: 4s;
    background-color: #993399;
    border: 5px dashed #FFD700;
    margin: 10px;
}
.box4 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border: 2px solid white;
}
.box4:hover {
    transition-duration: 4s;
    background-color: #993399;
    border: 5px dashed #FFD700;
    box-shadow: 5px 10px #046307;
    margin: 10px
}
.box5 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border: 2px solid white;
}
.box5:hover {
    transition-duration: 4s;
    background-color: #993399;
    border: 5px dashed #FFD700;
    box-shadow: 5px 10px #046307;
    border-radius: 10px;
    margin: 10px;
}
.box6 {
    display: inline-block;
    background-color: red;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    border: 2px solid white;
}
.box6:hover {
    transition-duration: 10s;
    background-color: #993399;
    border: 5px dashed #FFD700;
    box-shadow: 5px 10px #046307;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    height: 300px;
}
h6 {
    display: none;
}
.box6:hover h6 {
    transition-delay: 10s;
    color: white;
    display: inline-block;
}